#messageBox.error {
    padding: 1rem;
    background-color: #ffa29c;
    border-left: 5px solid #d9291c;
    color: #700700;
}

#messageBox.success {
    padding: 1rem;
    background-color: #d7f3dc;
    border-left: 5px solid #2e6a50;
    color: #081b15;
}

#messageBox.info {
    padding: 1rem;
    background-color: #caf1f8;
    border-left: 5px solid #0077b7;
    color: #0f084b;
}